doctype html
html
    head
        title Employer Home
        script(src="/js/jquery-min.js")
        link(href="/css/materialize.css", rel="stylesheet")
        script(src="/js/materialize.js")
        script(src="/js/login.js")

    body
        .row
            nav
                .nav-wrapper
                    a.brand-logo(href='')  Profiler
                    ul.right.hide-on-med-and-down
                        li #{user.username}
                        li
                            a(href='/employer/logout') Logout
            br
            br
            form.col.s12(method="POST",action="/employer/search")
                    .row.card.container.col.s6.offset-s3
                        br
                        .input-field.col.s12
                            select(name="technology",required)
                                option(value='', disabled='', selected='') Choose your option
                                option(value='c') C
                                option(value='sql') SQL
                                option(value='java') JAVA
                            label Skilled in
                        .input-field.col.s12
                            select(name="level",required)
                                option(value='', disabled='', selected='') Choose your option
                                option(value='low') Beginner
                                option(value='mid') Intermediate
                                option(value='high') Advanced
                            label Level
                        .input-field.col.s12
                            input.btn(type='submit',value="Search")