doctype html
html
    head
        title Employer Login
        script(src="/js/jquery-min.js")
        link(href="/css/materialize.css", rel="stylesheet")
        script(src="/js/materialize.js")
        //- script(src="/js/login.js")

    body
        .row
            nav
                .nav-wrapper
                    a.brand-logo(href='/') &nbsp;&nbsp;Employer Login
                    ul.right.hide-on-med-and-down
                        li
                            a(href='/employer/register') Register&nbsp;&nbsp;
            br
            br
            form.col.s12(method="POST",action="/employer/login")
                .row.card.container.col.s6.offset-s3
                    br
                    .input-field.col.s12
                        input#username.validate(name='username',type='text',required)
                        label(for='username') Username
                    .input-field.col.s12
                        input#password.validate(name='password',type='password',required)
                        label(for='password') Password
                    //- .input-field.col.s7
                    //-     select(name="role",required)
                    //-         option(value='', disabled='', selected='') Choose your option
                    //-         option(value='user') User
                    //-         option(value='employer') Employer
                    //-     label User Type
                    
                    .input-field.col.s12
                        input.btn(type='submit',value="Login")
               
